
@{ 
    ViewData["Title"] = "Index";
}
<h2>@ViewBag.StudentModel.Name</h2>
<h2>@ViewBag.StudentModel.RegNo</h2>
<h2>@ViewBag.StudentModel.Email</h2>
<h2>@ViewBag.StudentModel.Address</h2>
<h2>@ViewBag.StudentModel.Department</h2>


